{% extends "base.html.twig" %}

{% block content %}
    <form action="merit.svg"
    {% if useCsv %}
          method="post" enctype="multipart/form-data"
    {% else %}
          method="get"
    {% endif %}
        >

        {% if useCsv %}
        <p>
            {# Upload a CSV below or <a href="/">directly provide the tallies</a> instead. #}
            {{ 'InstructionUploadCsvFile'|t('<a href="/">' ~ 'LinkProvideTallies'|t ~ '</a>')|raw }}
        </p>
        <fieldset class="upload">
            <label>
                {{ 'FieldCsvFileLabel'|t }}&nbsp;&nbsp;&nbsp;
                <input type="file" name="csv" accept="text/csv" required>
            </label>
            <div>
                <p>
                    {{ 'FieldCsvFileInfo'|t }}
                </p>
                <pre title="{{ 'FieldCsvFileInfoTitle'|t }}">
candidate\grade, reject, passable, good, excellent
pizza,                2,        3,    0,         7
pasta,                3,        4,    2,         3
bread,                4,        1,    4,         3</pre>
            </div>
        </fieldset>
        {% else %}
        <p>
            {# Provide the tallies below or <a href="/?csv">upload a CSV file</a> instead.#}
            {{ 'InstructionProvideTallies'|t('<a href="/?csv">' ~ 'LinkUploadCsvFile'|t ~ '</a>')|raw }}
        </p>
        {% for i in 0..placeholderNames|length-1 %}
        <fieldset class="proposal">
            <input type="text" name="n"
                   class="proposal-name"
                   title="{{ 'FieldProposalNameTitle'|t(i+1) }}"
                   placeholder="{{ placeholderNames[i] }}"
                   maxlength="32">
            <input type="text" name="t" {% if loop.first %}required{% endif %}
                   class="proposal-tally"
                   placeholder="4,12,0,9,5,1,7"
                   pattern="\s*\d+\s*(\s*,\s*\d+\s*)*"
                   title="{{ 'FieldProposalTallyTitle'|t(i+1) }}">
        </fieldset>
        {% endfor %}
        {% endif %}

        <fieldset>
            <label title="{{ 'SettingHighToLowTitle'|t }}">
                <input type="checkbox" name="h2l">
                {{ 'SettingHighToLowLabel'|t }}
            </label>
            <br>
            <label title="{{ 'SettingRankWithMjTitle'|t }}">
                <input type="checkbox" name="mj">
                {{ 'SettingRankWithMjLabel'|t }}
            </label>
        </fieldset>

        <input type="submit" value="{{ 'ActionGenerate'|t }} &#127912;">
    </form>
{% endblock %}
